<head>
  {% extends 'base_slider.html' %}
  {% load static %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/workers.css' %}">
  <script src="{% static 'js/worker.js' %}"></script>
  <script src="{% static 'js/show.js' %}"></script>
  <title>FeedbackApp</title>
</head>
<div class="app-content employee">
      <div class="app-content-header">
        <h1 class="app-content-headerText">Сотрудники</h1>
      </div>
      <div class="app-content-actions">
        <input class="search-bar" placeholder="Поиск..." type="text">
        <div class="app-content-actions-wrapper">
          {% if current_user.role.name == 'Director' %}
          <div class="filter-button-wrapper">
            <button class="action-button filter jsFilter"><span>Фильтр</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/></svg></button>
              <div class="filter-menu">
              <label>Должность</label>
              <select>
                <option>Все</option>
                <option>Стажер</option>
                <option>Тимлид</option>
              </select>
              <div class="filter-menu-buttons">
                <button class="filter-button reset">
                  Сбросить
                </button>
                <button class="filter-button apply">
                  Применить
                </button>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="products-area-wrapper tableView">
        <div class="products-header">
          <div class="product-cell image">
            Сотрудник
            <button class="sort-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
            </button>
          </div>
          <div class="product-cell category">Должность<button class="sort-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
            </button></div>
        </div>
        {% if current_user.role.name == 'Director' %}
	      {% for user in users %}
            {% if user.role.name != 'Director' %}
          <a href="worker_user?id={{ user.id }}">
			<div class="products-row employee">
			  <button class="cell-more-button">
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
			  </button>
				<div class="product-cell image">
				  <span>{{user.name}}</span>
				</div>
			  <div class="product-cell category">{{ user.role.name }}</div>
            </div></a>
            {% endif %}
		  {% endfor %}
        {% endif %}
        {% if current_user.role.name == 'Teamlead' %}
          {% for user in users %}
            {% if user.role.name == 'Intern'%}
              <a href="worker_user?id={{ user.id }}">
                <div class="products-row employee">
                  <button class="cell-more-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
                  </button>
                    <div class="product-cell image">
                      <span>{{user.name}}</span>
                    </div>
                  <div class="product-cell category">{{ user.role.name }}</div>
                </div>
              </a>
            {% endif %}
		  {% endfor %}
        {% endif %}
        {% if current_user.role.name == 'Intern' %}
          {% for user in users %}
            {% if user.role.name == 'Teamlead'%}
              <a href="worker_user?id={{ user.id }}">
                <div class="products-row employee">
                  <button class="cell-more-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
                  </button>
                    <div class="product-cell image">
                      <span>{{user.name}}</span>
                    </div>
                  <div class="product-cell category">{{ user.role.name }}</div>
                </div>
              </a>
            {% endif %}
		  {% endfor %}
        {% endif %}
        </div>
      </div>
{% endblock %}