<!DOCTYPE html>
<html lang="ru" class="light">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>FeedbackAPP</title>
    <link rel="stylesheet" href="{% static 'css/worker.css' %}">
    <script src="{% static 'js/worker.js' %}"></script>
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
</head>
<body>
  <div class="app-container">
    <div class="sidebar">
      <div class="sidebar-header">
        <div class="app-icon">
          <h4>FEEDBACK APP</h4>
        </div>
      </div>
      <ul class="sidebar-list">
        {% if current_user.role.name == 'Intern' %}
	    <li class="sidebar-list-item feedback {% if request.path == '/feedbacks' %} active {% endif %}">
          <a href="feedbacks">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-megaphone" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 16 16"><path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/></svg>
              <span>Отзывы</span>
          </a>
        </li>
	    {% endif %}
		<li class="sidebar-list-item employee {% if request.path == '/all_workers' %} active {% endif %}">
          <a href="all_workers">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="bi bi-person" viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/></svg>
              <span>{% if current_user.role.name != 'Intern' %}Сотрудники{% else %}Запрос{% endif %}</span>
          </a>
        </li>
        {% if current_user.role.name == 'Intern' %}
        <li class="sidebar-list-item">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"/><path d="M22 12A10 10 0 0 0 12 2v10z"/></svg>
            <span>Статистика</span>
          </a>
        </li>
        {% endif %}
        {% if current_user.role.name == 'Teamlead' %}
        <li class="sidebar-list-item">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"/><path d="M13.73 21a2 2 0 0 1-3.46 0"/></svg>
            <span>Уведомления</span>
          </a>
        </li>
        {% endif %}
      </ul>
      <div class="account-info">
        <div class="account-info-picture">
          <img src="{% static 'images/logo.jpg' %}" alt="Account">
        </div>
        <div class="account-info-name">{{current_user.name|safe}}</div>
        <button class="account-info-more">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
        </button>
      </div>
    </div>
    {% block content %}
    <!-- Здесь содержимое страницы -->
    {% endblock %}
  </div>
</body>
</html>
<!-- TODO: Сделать страницы статистики и уведомлений
     TODO: Сделать нейронку которая будет генерить генеральный отзыв
     TODO: настроить фильтр и поиск на странице
     TODO: написать алгоритм для вычесления веса отзыва (можно отталкиваться от наполнения ключевыми словами и должности сотрудника написавшего отзыв)
	 TODO: Сделать так чтобы пользователю показывало ключевые слова которые запросил сотрудник, сделать минимальное количество символов и еще каких-нить проверок и предупреждений
-->