<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/worker.css' %}">
</head>
<body>
<div class="form-container">
  <h1 class="app-content-headerText">Написание отзыва</h1>
  <p class="form-title">Отзыв для сотрудника: Иванов Иван Иванович</p>
  <form action="worker" method="post">
    <label class="form-label" for="review">Ваш отзыв:</label>
    <textarea class="form-field" id="review" name="review"></textarea>
    <br>
    <input class="form-input" type="submit" value="Отправить">
  </form>
</div>
</body>
</html>
<!--TODO: Сделать так чтобы пользователю показывало ключевые слова которые запросил сотрудник, сделать минимальное количество символов и еще каких-нить проверок и предупреждений
    TODO: Надо сделать похожую страничку или допилить эту чтобы можно было и запросить отзыв, причем для каждой роли разный функционал (стажер только запрашивает, сотрудник запрашивает и пишет, начальник только пишет/ему не надо чисто смотрит)
    TODO: Можно сделать эту страничку страницей сотрудника со всей инфой о нем и внизу уже форма для отправки/запроса отзыва, тут же можно собрать на него генеральный отзыв и статистику можно сделать для начальника
    TODO: эта страничка должна быть либо сплывающим окном либо отдельной страницей, появлятся она будет при нажатии на сотрудника из списка
    TODO: нужно сделать аналогичную страницу для просмотра отзыва тоже либо всплывающую либо статичную
-->