<head>
  {% extends 'base_slider.html' %}
  {% load static %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/workers.css' %}">
  <script src="{% static 'js/worker.js' %}"></script>
  <script src="{% static 'js/show.js' %}"></script>
  <title>FeedbackApp</title>
</head>
<div class="feedback-page">
		<h1 class="card-fullname">{{ lead.name }}</h1>
		<h2 class="card-jobtitle">{{ lead.role.name }}</h2>
		<h2 class="card-feedbacks">Отзывы о вас:</h2>
		{% for fb in user_feedbacks %}
		<div class="feedback-row">
			<div class='task'>
			  <div class="name-status">
				  <div class="product-cell status-cell">
				  <span class="status {%if fb.stars == 1%}negative{%endif%}
					{%if fb.stars == 2%}neutral{%endif%}
					{%if fb.stars == 3%}positive{%endif%}">
					{%if fb.stars == 1%}Негативный{%endif%}
					{%if fb.stars == 2%}Нейтральный{%endif%}
				    {%if fb.stars == 3%}Позитивный{%endif%}</span>
				  </div>
			  </div>
			  <p>{{ fb.body }}</p>
			</div>
		</div>
		{% endfor %}
		<div class="btns">
		<div class="text-center">
		  <a href="feedbacks"><button type="button" class="btn btn-exit employee">Назад</button></a>
		</div>
		<div class="text-center">
		  <button class="app-content-headerButton">Сформировать интегральный отзыв</button>
		</div>
		</div>
    </div>
{% endblock %}