<head>{% load static %}<link rel="stylesheet" href="{% static 'css/worker.css' %}">
    <script src="{% static 'js/show.js' %}"></script></head>
<div class="feedback-page">
		<h1 class="card-fullname">Корнеев А. Г.</h1>
		<h2 class="card-jobtitle">UI разработчик</h2>
		<h2 class="card-feedbacks">Отзывы о вас:</h2>
		<div class="feedback-row">
			<div class='task'>
			  <div class="name-status">
				  <div class='task__tags'>Сотрудник В.</div>
				  <div class="product-cell status-cell">
				  <span class="status positive">Позитивный</span>
				  </div>
			  </div>
			  <p>Пришел на работу на 3 минуты раньше!</p>
			  <div class='task__stats'>
				<p>20.10.23</p>
			  </div>
			</div>
		</div>
		<div class="text-center">
		  <button type="button" class="btn btn-exit feedback">Назад</button>
		</div>
    </div>