<head>
  {% extends 'base_slider.html' %}
  {% load static %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/workers.css' %}">
  <script src="{% static 'js/worker.js' %}"></script>
  <script src="{% static 'js/show.js' %}"></script>
  <title>FeedbackApp</title>
</head>
<div class="employee-page">
	<h1 class="card-fullname">{{ intern.name }}</h1>
	<h2 class="card-jobtitle">{{ intern.role.name }}</h2>
	<form method="POST">
		{% csrf_token %}
		<button name="create-integral" class="app-content-headerButton" type="submit">Интегральный отзыв</button>
		<div id="integral_text" class="disabled-div">{{ integral }}</div>
	</form>
	{% if intern.role.name == 'Intern'%}
	<div class="feedbacks">
		{% if feedback.first.body == '' %}
			<h2 class="card-feedbacks">Отзывы о сотруднике:</h2>
		{% endif %}
		{% for fb in feedback %}
		<div class="feedback-row">
		<div class='task'>
		  <div class="name-status">
			  <div class="product-cell status-cell">
			  <span class="status {%if fb.stars == 1%}negative{%endif%}
				{%if fb.stars == 2%}neutral{%endif%}
				{%if fb.stars == 3%}positive{%endif%}">
				{%if fb.stars == 1%}Негативный{%endif%}
				{%if fb.stars == 2%}Нейтральный{%endif%}
				{%if fb.stars == 3%}Позитивный{%endif%}</span>
			  </div>
		  </div>
		  <p>{{ fb.body }}</p>
		</div>
		</div>
		{% endfor %}
		{% if current_user.role.name == 'Teamlead' %}
		<div class="employee-container">
		  <form method="POST">
				{% csrf_token %}
			<h1 class="title text-center mb-4">Написать отзыв:</h1>
			<div class="formhttps://www.gravatar.com/avatar/337e3dbd74fde6211d1a63f255ce5900?s=64&d=robohash-group message">
			  <textarea name="feedback-text" id="formMessage" class="form-control form-control-lg" rows="7" placeholder="пишите..."></textarea>
			</div>
			<input value="{{ intern.id }}" type="hidden" name="user-id"/>
		    <div class="btns">
			<div class="text-center">
			  <a href="all_workers"><button type="button" class="btn btn-exit employee">Назад</button></a>
			</div>
			<div class="text-center">
				<a href=""><button type="submit" class="btn btn-primary" tabIndex="-1">Отправить</button></a>
			</div>
			</div>
		  </form>
		</div>
		{% else %}
		<div class="text-center">
		  <a href="all_workers"><button type="button" class="btn btn-exit employee">Назад</button></a>
		</div>
		{% endif %}
    </div>
	{% endif %}
	{% if intern.role.name == 'Teamlead'%}
	<div class="feedbacks">
		{% if lead_interns.first.name != '' %}
			<h2 class="card-feedbacks">Стажеры сотрудника:</h2>
		{% endif %}
		{% for user in lead_interns %}
		<a href="worker_user?id={{ user.id }}"><div class="feedback-row">
			<div class='task'>
			  <p>{{ user.name }}</p>
			</div>
		</div></a>
		{% endfor %}
    </div>
	<div class="text-center">
	  <a href="all_workers"><button type="button" class="btn btn-exit employee">Назад</button></a>
	</div>
	{% endif %}
</div>
{% endblock %}