<head>{% load static %}<link rel="stylesheet" href="{% static 'css/worker.css' %}">
    <script src="{% static 'js/show.js' %}"></script></head>
<div class="employee-page">
		<h1 class="card-fullname">Корнеев А. Г.</h1>
		<h2 class="card-jobtitle">UI разработчик</h2>
		<div class="feedbacks">
			<h2 class="card-feedbacks">Отзывы о сотруднике:</h2>
			<div class="feedback-row">
				<div class='task'>
				  <div class="name-status">
					  <div class='task__tags'>Сотрудник В.</div>
					  <div class="product-cell status-cell">
					  <span class="status positive">Позитивный</span>
					  </div>
				  </div>
				  <p>Пришел на работу на 3 минуты раньше!</p>
				  <div class='task__stats'>
					<p>20.10.23</p>
				  </div>
				</div>
			</div>
			<div class="feedback-row">
				<div class='task'>
				  <div class="name-status">
					  <div class='task__tags'>Сотрудник Г.</div>
					  <div class="product-cell status-cell">
					  <span class="status negative">Негативный</span>
					  </div>
				  </div>
				  <p>Опоздал на работу на 3 минуты!</p>
				  <div class='task__stats'>
					<i class="fas fa-flag"></i><p>22.10.23</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="employee-container">
		  <form method="post">
				<h1 class="title text-center mb-4">Написать отзыв:</h1>
				<div class="form-group message">
					<textarea name="feedback-text" id="formMessage" class="form-control form-control-lg" rows="7" placeholder="пишите..."></textarea>
				</div>
					<div class="btns">
				<div class="text-center">
					<button type="button" class="btn btn-exit employee">Назад</button>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary" name="send-feedback" tabIndex="-1">Отправить</button>
				</div>
				</div>
		  </form>
		</div>
    </div>